* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

:root {
    --main-color: #02093e;
    --transition: 0.3s all;
}

::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 30px;
    transition: var(--transition);
}

::-webkit-scrollbar:hover {
    width: 0.5em;
    transition: var(--transition);
}

::-webkit-scrollbar-track {
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(172, 172, 172);
    border-radius: 30px;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(94, 94, 94);
    transition: var(--transition);
}

#cdnError {
    display: none;
}

.data {
    display: none;
}

.loading {
    background: #fff !important;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 280px;
    position: relative;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('../assets/static/northCoast_404.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}


.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--main-color);
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow: 0px 4px 15px -5px #0046d5;
}


.sticky {
    opacity: 1 !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content !important;
    background-color: #ffffff78 !important;
    -webkit-backdrop-filter: saturate(180%) blur(11px);
    -moz-backdrop-filter: saturate(180%) blur(11px);
    backdrop-filter: saturate(180%) blur(14px);
    z-index: 10000;
    padding: 13px;
    transition: var(--transition);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.sticky+.content {
    padding-top: 102px;
}


footer {
    width: 100%;
    position: fixed;
    top: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 100px;
    /* box-shadow: 1px 1px 51px 10px white; */
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    margin: 0px 5px;
}

a.copyrighted-slogan {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
        cursor: default;
    }
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 142px;
    }

    .notfound .notfound-404 h1 {
        font-size: 112px;
    }
}

/*end of main rules*/
/* section-onload*/

.section-onload {
    background: url(northCoast.jpg);
    background-color: #00000024;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    transition: all 500ms ease-in-out;
    animation: darkenBackground 4s both;
}

.logo {
    width: 30%;
    margin-top: 15px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-section {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.special-user-credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-picture-area {
    text-align: center;
}

.user-picture-area img {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    padding: 5px;
    background-image: linear-gradient(to right, #00dbde 20%, #fc00ff 100%);
}

.user-name h1 {
    margin-top: 7px !important;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--main-color);
}

.account-username h3 {
    font-size: 15px;
    font-weight: lighter;
    color: lightgray;
}

.form-sector {
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-sector form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-sector form label {
    text-align: start;
    width: 90%;
    margin-left: 30px;
    font-weight: bold;
}

.form-sector form input {
    margin: 0px 20px 20px 20px;
    width: 90%;
    padding: 10px 5px;
    border-radius: 7px;
    border: 1px solid lightgray;
}

.special-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.special-logo {
    margin: 0 !important;
}

.header-pic {
    width: 50px !important;
    height: 50px !important;
    padding: 2px !important;
}

#mainHeader {
    height: 0px;
    opacity: 0;
    transition: var(--transition);

}

.rating-box {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.rating-card {
    background: #efefef;
    color: black;
    margin: 0px 10px;
    padding: 10px 15px;
    border-radius: 7px;
    font-weight: bold;
    transition: var(--transition);
    cursor: pointer;
}

.rating-card:hover {
    background: #02093e;
    color: white;
    transition: var(--transition);
    cursor: pointer;
}

.data {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/static/);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

iframe {
    width: 100%;
    margin: 10px 0px;
}

/* first scene */
.welcoming-scene {
    width: 100%;
}

.welcoming-scene .child-1 {
    width: 70%;
    height: 100vh;
    background-image: url(../assets/static/northCoast_404.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 100vh;
        background-color: #010215a1;
        z-index: 0;
    }
}

.welcoming-scene .child-1 .textbox-area {
    position: absolute;
    z-index: 999;
    color: white;
    width: 70%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.welcoming-scene .child-1 .textbox-area h1 {
    font-family: "Kanit", sans-serif;
    font-size: 85px;
    text-transform: uppercase;
}

.extra-div {
    width: 100%;
}

.special-logo-area {
    width: 100%;
}

.special-logo-area {
    text-align: center;
}

/* Progress bar container */
.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    position: fixed;
    top: -20px;
    left: 0;
    z-index: 1000;
}

/* Progress bar fill */
.progress-bar {
    height: 100%;
    width: 0%; /* Start at 0% */
    background: rgb(69,179,254);
background: -moz-linear-gradient(90deg, rgba(69,179,254,1) 0%, rgba(199,46,218,1) 46%, rgba(164,65,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(69,179,254,1) 0%, rgba(199,46,218,1) 46%, rgba(164,65,255,1) 100%);
background: linear-gradient(90deg, rgba(69,179,254,1) 0%, rgba(199,46,218,1) 46%, rgba(164,65,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45b3fe",endColorstr="#a441ff",GradientType=1);
    transition: width 0.3s ease; /* Smooth animation */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

form.main-form {
    display: flex;
    flex-direction: column;
}

.question-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
    font-weight: bold;
    width: 100%;
}

.question-area h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.question-area p.question-description {
    margin: 0px 3px 15px;
    color: #00000061;
    font-size: 0.8rem;
    text-align: start;
}

.answers-area {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input[type="radio"] {
    appearance: none;
    background-color: #ececec;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: var(--main-color);
    font-weight: bold;
    font-size: 15px;
    font-family: "Kanit", sans-serif;

    &:hover {
        background-color: var(--main-color);
        transition: var(--transition);
        color: white;
    }
}

input[type="radio"]:checked {
    background-color: var(--main-color);
    transition: var(--transition);
    color: white;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
}

input[type="radio"]::before {
    content: attr(value);
    /* Display the value as the label */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-field {
    margin: 0px 5px;
}

.options-answers-area {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    grid-gap: 10px 50px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    width: 100%;
}

input[type="radio"].select-options {
    background-color: white;
    border: 1px solid #007AFF;
    color: #007AFF;
    height: 35px;
    width: 120px;
    transition: .3s all;
    padding: 15px;

    &:hover {
        background-color: #007AFF;
        color: white;
        transition: .3s all;
    }

    &:checked {
        background-color: #007AFF;
        color: white;
        transition: .3s all;
    }
}

.droplist-input {
    background-color: #f1f1f1;
    border: none;
    padding: 15px 65px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    transition: .3s all;
    width: 99.333%;

    &:hover {
        cursor: pointer;
        transition: .3s all;
    }

    &:focus {
        box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
        transition: .3s all;
    }
}

.divided-section-droplist {
    padding: 15px 10px !important;
}

.submit-button {
    background-color: #f1f1f1;
    color: var(--main-color);
    transition: .3s all;
    border: none;
    border-radius: 7px;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: bold;
}

.submit-button:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: #f1f1f1;
    transition: .3s all;
}

.special-submit-btn {
    background-color: initial;
    color: #007AFF;
    transition: var(--transition);
    border: none;
    outline: none !important;
    &:hover {
        background-color: initial;
        color: #0046d5;
        transition: var(--transition);
        border: none;
    }
}

input#dataDpart {
    background-color: #f1f1f1;
    border: none;
    padding: 15px 15px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
}

.questions-type-title {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
    padding: 20px 0px;
}

.questions-type-title h1 {
    color: #333333c9;
    text-transform: uppercase;
}

.questions-type-title hr {
    width: 100%;
    border-color: #eeeeeea1;
}

.bulks-answers {
    display: flex !important;
    flex-direction: column !important;
}

input[type="radio"].radio-label {
    appearance: none;
    border-radius: 145px;
    padding: 7px;
    cursor: pointer;
    position: relative;
    width: initial;
    height: initial;

    &:hover {
        background-color: var(--main-color);
        transition: var(--transition);
        color: white;
    }
}

input[type="radio"]:checked.radio-label {
    background-color: var(--main-color);
    transition: var(--transition);
    color: white;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
}

input[type="radio"].radio-label::before {
    content: attr(value);
    /* Display the value as the label */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border-color: #f7f7f785;
    color: #004d91;
    border-inline-width: 1px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    background-color: #ececec66;
    -webkit-transition: 0.5s;
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 50%;
    padding-left: 25px;
    box-shadow: 0 0 10px 2px #00000026;

    &:focus {
        border-color: #0c75ff;
        outline-color: #0c75ff;
        box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
    }
}

input[type=number] {
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border-color: #f7f7f785;
    color: #004d91;
    border-inline-width: 1px;
    border-style: solid;
    border-width: 2px;
    width: 30% !important;
    background-color: #ececec66;
    -webkit-transition: 0.5s;
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 50%;
    padding-left: 25px;
    box-shadow: 0 0 10px 2px #00000026;

    &:focus {
        border-color: #0c75ff;
        outline-color: #0c75ff;
        box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
    }
}


input[type=email] {
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border-color: #f7f7f785;
    color: #004d91;
    border-inline-width: 1px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    background-color: #ececec66;
    -webkit-transition: 0.5s;
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px 50%;
    padding-left: 25px;
    box-shadow: 0 0 10px 2px #00000026;

    &:focus {
        border-color: #0c75ff;
        outline-color: #0c75ff;
        box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #fff;
    }
}

.required-flag {
    color: red;
    font-weight: bolder;
}

.width-broke {
    display: grid !important;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
    grid-gap: 10px 30px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    width: 100%;
    align-items: center;
}

.width-broke input {
    width: 99.33% !important;
}

#specialNeedInfoProgress {
    display: none;
    width: 100%;
}

.DisplayNOTRNST {
    display: none !important;
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.DisplayOKTRNST {
    display: block !important;
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

input.error,
select.error {
    border: 2px solid rgb(206, 53, 15);
    background-color: #ffe6e6;
}

.form-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0px;
}

.error-msg {
    color: rgb(151, 0, 0);
    background-color: #ffe6e6;
}

#daysSpent {
    width: 100% !important;
}

@-webkit-keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


@media (min-width: 1200px) {
    iframe {
        width: 100%;
    }

    .questions-type-title {
        text-align: start;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .options-answers-area {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
        grid-gap: 10px 60px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .question-area {
        width: 80%;
        align-items: start;
    }

    .question-area p.question-description {
        text-align: start;
    }

    .width-broke {
        display: flex !important;
        flex-direction: row !important;
    }

    .divided-section-droplist {
        padding: 15px 65px !important;
    }

    input#dataDpart {
        padding: 15px 65px !important;
    }

    #daysSpent {
        width: 30%;
    }

}